@page "/"

@using System;
@using cwg.web.Data;
@using cwg.web.Generators
@using cwg.web.Repositories

@using Microsoft.AspNetCore.Mvc.Localization

@inject NavigationManager NavigationManager
@inject GeneratorsService GeneratorService
@inject GeneratorRepository Repository

@inject Microsoft.Extensions.Localization.IStringLocalizer<Index> Localizer

<section class="h-100">
    <header class="container h-100">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="d-flex flex-column" style="background-color: #3e3e3e; padding: 20px; border-radius: 25px;">
                @if (_generators != null && _requestModel != null)
                {
                    <EditForm Model="_requestModel" OnValidSubmit="HandleValidSubmit">
                        <h2 style="color: cornflowerblue"><a @onclick="Refresh">@Localizer["FileGenerator"]</a></h2>

                        @if (_responseModel == null)
                        {
                            <div class="form-group">
                                <label for="fileType">sample type</label>

                                <InputSelect id="fileType" name="fileType" class="form-control dark" style="max-width: 200px; margin: 0 auto; text-align: center" @bind-CurrentValueAsString="_requestModel.FileType" @bind-Value="_requestModel.FileType">
                                    @foreach (var generator in _generators)
                                            {
                                        <option value="@generator.Name">@generator.Name</option>
                                            }
                                </InputSelect>

                                <br />

                                <label for="numberToGenerate">quantity to generate</label>
                                <InputNumber @bind-Value="_requestModel.NumberToGenerate" id="numberToGenerate" name="numberToGenerate" type="number" min="1" max="500" step="1" placeholder="number to generate" class="form-control" style="max-width: 200px; text-align: center; margin: 0 auto" />

                                <br />

                                <label for="bosartige">@Localizer["MoreMalicious"]</label>
                                <InputCheckbox @bind-Value="_requestModel.Bosartige" id="bosartige" name="bosartige" />
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn-lg btn-primary">generate sample(s)</button>
                            </div>
                        }

                        @if (_responseModel != null)
                        {
                            <h5>Generated @_responseModel.FileType file</h5>
                            <span style="font-size: x-small">SHA1:</span> <span style="font-size: small">@_responseModel.SHA1</span><br /><br />

                            <a href="/file/@_responseModel.FileName" target="_blank" role="button" class="btn btn-info btn-lg">Download File</a><br /><br />

                            <button @onclick="GenerateOneMore" class="btn btn-success">generate one more</button><br /><br />

                            <button @onclick="Refresh" class="btn btn-warning">go home | reset generator</button>
                        }
                    </EditForm>
                }

                <p style="margin-top: 20px;font-size:x-small">
                    Created by <a href="http://www.jarredcapellman.com" target="_blank">Jarred Capellman</a> | source code is on <a href="https://github.com/jcapellman/cwg" target="_blank">github</a><br />
                    Version 2020.9.4
                </p>
            </div>
        </div>
    </header>
</section>

@functions
{
    protected void GenerateOneMore()
    {
        HandleValidSubmit();
    }

    protected void Refresh()
    {
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    }
}

@code {
    private GenerationResponseModel _responseModel = null;

    private GenerationRequestModel _requestModel = new GenerationRequestModel();

    private void HandleValidSubmit()
    {
        _responseModel = GeneratorService.GenerateFile(_requestModel);
    }

    private IEnumerable<BaseGenerator> _generators;

    protected override void OnInitialized()
    {
        _generators = GeneratorRepository.GetGenerators();

        _requestModel = new GenerationRequestModel();

        _requestModel.FileType = _generators.FirstOrDefault().Name;
    }
}